name: 통합 CI/CD [Vote] Build, Push

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target Server Environment'
        required: true
        type: choice
        options:
          - dev
          - prod
        default: 'dev'

jobs:
  ci:
    uses: ./.github/workflows/ci-vote-app.yml
    with:
      environment: ${{ github.event.inputs.environment }}
    secrets: inherit

  cd:
    needs: ci
    uses: ./.github/workflows/cd-vote-app.yml
    with:
      environment: ${{ github.event.inputs.environment }}
    secrets: inherit